@@include('./templates/header.html', { "title": "Blog - Kultura Agency" })
@@include('./templates/menu.html')
<main id="blog" class="iscrollMain">
    <article class="content-blog">
        <div class="row align-center">
            <div class="column small-10 medium-8 large-8 xlarge-10 xxlarge-12">
                <div class="row">
                    <div class="column small-12 post">
                        <div class="author">
                            <a class="avatar" href="#">
                                <img src="https://pp.vk.me/c837631/v837631428/7f68/qpIUIkdBCPM.jpg">
                            </a>
                            <a class="name" href="#">Konstantin Tyumensky</a>
                            <div class="date">August 2nd, 2016<span>16:30</span></div>
                        </div>
                        <div class="handler">
                            <a href="#">Мы хотим вдохновлять своим примером других</a>
                        </div>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit amet, <a data-open="modalgallery">consectetuer adipiscing elit</a>, sed diam nonummy nibh euismod
                                tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut enim ad minima veniam, quis
                                nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                                consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
                                nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas.
                            </p>
                            <div class="gallery">
                                <div class="row large-unstack one">
                                    <div class="columns">
                                        <a class="img" style="background-image: url(https://pp.vk.me/c543108/v543108900/20204/x9lf5c3tn3c.jpg);"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="share">
                            <div class="row align-middle">
                                <div class="columns small-12 large-2">
                                    <a href="#" class="comments">Сomments<span>4</span></a>
                                </div>
                                <div class="columns small-12 large-10 text-left large-text-right xlarge-text-left social">
                                    Share:
                                    <a href="/">G+</a>
                                    <a href="/">Be</a>
                                    <a href="/">Fb</a>
                                    <a href="/">Vk</a>
                                    <a href="/">Dr</a>
                                </div>
                            </div>
                        </div>
                        <div class="comments-wrapper">
                            <div class="comment-item">
                                <div class="author">
                                    <a class="avatar" href="#">
                                        <img src="https://pp.vk.me/c837631/v837631428/7f68/qpIUIkdBCPM.jpg">
                                    </a>
                                    <a class="name" href="#">Konstantin Tyumensky</a>
                                    <div class="date">August 2nd, 2016<span>16:30</span></div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing elit</a>, sed diam
                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </div>
                                <div class="reply">
                                    <div class="comment-item">
                                        <div class="author">
                                            <a class="avatar" href="#">
                                                <img src="https://pp.vk.me/c837631/v837631428/7f68/qpIUIkdBCPM.jpg">
                                            </a>
                                            <a class="name" href="#">Konstantin Tyumensky</a>
                                            <div class="date">August 2nd, 2016<span>16:30</span></div>
                                        </div>
                                        <div class="content">
                                            Lorem ipsum dolor sit amet,consectetuer adipiscing eli.
                                        </div>
                                    </div>
                                    <div class="comment-item">
                                        <div class="author">
                                            <a class="avatar" href="#">
                                                <img src="https://pp.vk.me/c837631/v837631428/7f68/qpIUIkdBCPM.jpg">
                                            </a>
                                            <a class="name" href="#">Konstantin Tyumensky</a>
                                            <div class="date">August 2nd, 2016<span>16:30</span></div>
                                        </div>
                                        <div class="content">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-item">
                                <div class="author">
                                    <a class="avatar" href="#">
                                        <img src="https://pp.vk.me/c837631/v837631428/7f68/qpIUIkdBCPM.jpg">
                                    </a>
                                    <a class="name" href="#">Konstantin Tyumensky</a>
                                    <div class="date">August 2nd, 2016<span>16:30</span></div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </div>
                            </div>
                            <div class="comment-form">
                                <a class="avatar" href="#">
                                    <img src="https://pp.vk.me/c837631/v837631428/7f68/qpIUIkdBCPM.jpg">
                                </a>
                                <form>
                                    <textarea placeholder="Введите текст сообщения..."></textarea>
                                    <input class="button grey" type="submit" value="Отправить комментарий">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="column small-12 post">
                        <div class="author">
                            <a class="avatar" href="#">
                                <img src="https://pp.vk.me/c837631/v837631428/7f68/qpIUIkdBCPM.jpg">
                            </a>
                            <a class="name" href="#">Konstantin Tyumensky</a>
                            <div class="date">August 2nd, 2016<span>16:30</span></div>
                        </div>
                        <div class="handler narrow">
                            <a href="#">Варкалось. Хливкие шорьки Пырялись по наве, И хрюкотали зелюки, Как мюмзики в мове</a>
                        </div>
                        <div class="share">
                            <div class="row align-middle">
                                <div class="columns small-12 large-2">
                                    <a href="#" class="comments">Сomments<span>4</span></a>
                                </div>
                                <div class="columns small-12 large-10 text-left large-text-right xlarge-text-left social">
                                    Share:
                                    <a href="/">G+</a>
                                    <a href="/">Be</a>
                                    <a href="/">Fb</a>
                                    <a href="/">Vk</a>
                                    <a href="/">Dr</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column small-12 post">
                        <div class="author">
                            <a class="avatar" href="#">
                                <img src="https://pp.vk.me/c837631/v837631428/7f68/qpIUIkdBCPM.jpg">
                            </a>
                            <a class="name" href="#">Konstantin Tyumensky</a>
                            <div class="date">August 2nd, 2016<span>16:30</span></div>
                        </div>
                        <div class="handler">
                            <a href="#">Мы хотим вдохновлять своим примером других</a>
                        </div>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing elit</a>, sed diam nonummy nibh euismod
                                tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut enim ad minima veniam, quis
                                nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                                consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
                                nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas.
                            </p>
                            <div class="gallery">
                                <div class="row large-unstack two">
                                    <div class="columns">
                                        <a class="img" style="background-image: url(https://pp.vk.me/c543108/v543108900/20204/x9lf5c3tn3c.jpg);"></a>
                                    </div>
                                    <div class="columns">
                                        <a class="img" style="background-image: url(https://pp.vk.me/c543108/v543108900/20204/x9lf5c3tn3c.jpg);"></a>
                                    </div>
                                </div>
                                <div class="row large-unstack three">
                                    <div class="columns">
                                        <a class="img" style="background-image: url(https://pp.vk.me/c543108/v543108900/20204/x9lf5c3tn3c.jpg);"></a>
                                    </div>
                                    <div class="columns">
                                        <a class="img" style="background-image: url(https://pp.vk.me/c543108/v543108900/20204/x9lf5c3tn3c.jpg);"></a>
                                    </div>
                                    <div class="columns">
                                        <a class="img" style="background-image: url(https://pp.vk.me/c543108/v543108900/20204/x9lf5c3tn3c.jpg);"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="share">
                            <div class="row align-middle">
                                <div class="columns small-12 large-2">
                                    <a href="#" class="comments">Сomments<span>4</span></a>
                                </div>
                                <div class="columns small-12 large-10 text-left large-text-right xlarge-text-left social">
                                    Share:
                                    <a href="/">G+</a>
                                    <a href="/">Be</a>
                                    <a href="/">Fb</a>
                                    <a href="/">Vk</a>
                                    <a href="/">Dr</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
@@include('./templates/footer.html')