@@include('./templates/header.html', { "title": "Kultura Agency" })
@@include('./templates/menu.html')
<main>
    <article class="wrapper">
        <section class="section fp-auto-height fp-auto-height-responsive">
            <div class="top-container">
                <div class="row align-center">
                    <div class="column large-10 xxlarge-12">
                        <div class="row align-center large-align-left small-uncollapse large-collapse">
                            <div class="columns xlarge-6 large-8 medium-8 small-12">
                                <h1 class="long">Dinex Logistic</h1>
                            </div>
                        </div>
                        <div class="row align-bottom align-center small-uncollapse large-collapse container">
                            <div class="columns xlarge-6 large-8 medium-8 small-12 description">
                                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                                dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
                                praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                            </div>
                            <div class="columns xlarge-6 large-8 medium-8 small-12 description">
                                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                                dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
                                praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div id="works" class="slider fullscreen">
                <div class="slide-container">
                    <div class="img" style="background-image: url(http://www.linequality.com/wp-content/uploads/NHL_Hero_template_Small.jpg);"></div>
                    <a class="button white" href="/">view</a>
                </div>
                <div class="slide-container">
                    <div class="img" style="background-image: url(http://www.linequality.com/wp-content/uploads/BG_10802.jpg);"></div>
                    <a class="button white" href="/">view</a>
                </div>
                <div class="slide-container">
                    <div class="img" style="background-image: url(http://www.linequality.com/wp-content/uploads/BG_108015.jpg);"></div>
                    <a class="button white" href="/">view</a>
                </div>
                <div class="slide-container">
                    <div class="img" style="background-image: url(http://www.linequality.com/wp-content/uploads/BG_1080_Rem.jpg);"></div>
                    <a class="button white" href="/">view</a>
                </div>
                <div class="slide-container">
                    <div class="img" style="background-image: url(http://www.linequality.com/wp-content/uploads/BG_10805.jpg);"></div>
                    <a class="button white" href="/">view</a>
                </div>
            </div>
        </section>
        <section class="section fp-auto-height last"><!--Обязательно для корректной работы слайдера--></section>
    </article>
</main>
@@include('./templates/footer.html')