article.content-blog {
  padding-top: rem-calc(100);
}

.post {
  border-top: rem-calc(1) solid rgba(222,222,222,1);
  padding: rem-calc(15 0 0 85);
  margin-bottom: rem-calc(65);
  cursor: default;
}
.post .author {
  position: relative;
  margin-bottom: rem-calc(26);
  a.avatar {
    display: block;
    position: absolute;
    width: rem-calc(64);
    height: rem-calc(64);
    left: rem-calc(-85);
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  a.name {
    display: block;
    font-weight: 600;
    line-height: rem-calc(14);
    padding-bottom: rem-calc(6);
    letter-spacing: rem-calc(0.3);
  }
  .date {
    line-height: rem-calc(11);
    font-size: rem-calc(11);
    font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 600;
    span {
      display: inline-block;
      vertical-align: baseline;
      padding-left: rem-calc(8);
    }
  }
}
@include breakpoint(medium down) {
  .post {
    padding: rem-calc(15 0);
  }
  .post .author {
    margin-left: rem-calc(46);
    a.avatar {
      width: rem-calc(32);
      height: rem-calc(32);
      left: rem-calc(-46);
    }
  }
}
.post .handler {
  font-size: rem-calc(36);
  line-height: rem-calc(41);
  letter-spacing: rem-calc(0.05);
}
.post .handler.narrow {
  width: 100%;
  margin-bottom: rem-calc(10);
  @include breakpoint(medium up) {
    width: 60%;
  }
}
.post .content {
  padding-top: rem-calc(20);
}



.gallery {
  .row .columns {
    margin: rem-calc(18 0);
    overflow: hidden;
  }
  .row .columns .img {
    background-size: cover;
    background-position: center;
    display: block;
    width: 100%;
    cursor: pointer;
  }
  .row .columns .img:first-child {
    margin-left: 0;
  }
  .row .columns .img:last-child {
    margin-right: 0;
  }
  @include breakpoint(small) {
    .row, .row.one {
      .columns .img {
        height: rem-calc(250);
      }
    }
  }
  @include breakpoint(large up) {
    .row, .row.one {
      .columns .img {
        height: rem-calc(380);
      }
    }
  }
  @include breakpoint(xlarge up) {
    .row, .row.one {
      .columns .img {
        height: rem-calc(670);
      }
    }
  }

  @include breakpoint(small) {
    .row.two {
      .columns .img {
        width: 100%;
        height: rem-calc(250);
      }
    }
  }
  @include breakpoint(medium up) {
    .row.two {
      .columns {
        width: 50%;
      }
    }
  }
  @include breakpoint(large up) {
    .row.two {
      .columns .img{
        height: rem-calc(250);
      }
    }
    .row.two .columns:first-child {
      padding-right: rem-calc(18);
    }
    .row.two .columns:last-child {
      padding-left: rem-calc(18);
    }
  }
  @include breakpoint(xlarge up) {
    .row.two {
      .columns .img {
        height: rem-calc(380);
      }
    }
  }
  @include breakpoint(small up) {
    .row.three {
      .columns {
        flex: 0 0 100%;
        .img {
          height: rem-calc(250);
        }
      }
    }
  }
  @include breakpoint(medium up) {
    .row.three {
      .columns {
        flex: 0 0 50%;
      }
      .columns:nth-child(1) {
        padding-right: rem-calc(18);
      }
      .columns:nth-child(2) {
        padding-left: rem-calc(18);
      }
      .columns:last-child {
        flex: 0 0 100%;
      }
    }
  }
  @include breakpoint(large up) {
    .row.three .columns:last-child .img {
      height: rem-calc(380);
    }
  }
  @include breakpoint(xlarge up) {
    .row.three .columns {
      flex: 0 0 33.333333%;
    }
    .row.three .columns:nth-child(2) {
      padding-right: rem-calc(18);
    }
    .row.three .columns:last-child {
      flex: 0 0 33.333333%;
      padding-left: rem-calc(18);
      .img {
        height: rem-calc(250);
      }
    }
    .row.three .columns .img {
      height: rem-calc(250);
    }
  }
}
.share {
  margin-bottom: rem-calc(14);
  a.comments {
    color: rgba(0,0,0,.5);
    span {
      color: rgba(0,0,0,1);
      padding-left: rem-calc(5);
    }
  }
  a.comments:hover {
    color: rgba(0,0,0,1);
  }
  .social a {
    padding: rem-calc(5);
    margin-left: rem-calc(4);
    display: inline-block;
    vertical-align: middle;
  }
}