.button {
  line-height: rem-calc(14);
  padding: rem-calc(10 22);
  font-size: rem-calc(14);
  border-radius: rem-calc(4);
}
.button.white {
  background-color: rgba(255,255,255,.8);
  color: rgba(0,0,0,1);
  transition: all 300ms 0s linear;
  box-shadow: rem-calc(0 0 40 0) rgba(0,0,0,0.05);
}
.button.white:hover {
  background-color: rgba(255,255,255,1);
  box-shadow: rem-calc(0 0 40 0) rgba(0,0,0,0.25);
}
.button.grey {
  background-color: rgba(0,0,0,.09);
  color: rgba(0,0,0,1);
  transition: all 300ms 0s linear;
}
.button.grey:hover {
  background-color: rgba(0,0,0,.16);
}