.comments-wrapper, .comments-wrapper .reply {
  .comment-item {
    box-sizing: content-box;
    position: relative;
    padding-left: rem-calc(86);
    border-top: rem-calc(1) solid rgba(222,222,222,1);
    padding-top: rem-calc(14);
    min-height: rem-calc(79);
    cursor: default;
  }
  .comment-item .author {
    margin-bottom: 0;
    .name, .date {
      display: inline-block;
      vertical-align: top;
    }
    .date {
      padding-left: rem-calc(16);
      vertical-align: top;
    }
  }
  .comment-item .content {
    padding-bottom: rem-calc(12);
    padding-top: 0;
  }
}
.comments-wrapper {
  @include breakpoint(medium down) {
    .comment-item {
      padding-left: rem-calc(0);
    }
    .reply .comment-item {
      padding-left: 0;
      margin-left: rem-calc(36);
    }
    .comment-item .content, .reply .comment-item .content {
      margin-left: rem-calc(46);
    }
    .comment-item .author {
      min-height: rem-calc(32);
    }
    .comment-item .author .date, .comment-item .reply .comment-item .date {
      display: inline-block;
      vertical-align: super;
      padding-left: rem-calc(16);
    }
    .comment-item .author .name, .comment-item .reply .comment-item .name {
      padding-bottom: rem-calc(0);
      display: inline-block;
      vertical-align: top;
    }
  }
  @include breakpoint(small only) {
    .comment-item .author .date, .comment-item .reply .comment-item .date {
      padding-left: 0;
      margin-top: rem-calc(-6);
      vertical-align: text-top;
    }
  }
}
.comment-form {
  padding-left: rem-calc(86);
  margin-top: rem-calc(30);
  position: relative;
  a.avatar {
    display: block;
    position: absolute;
    width: rem-calc(64);
    height: rem-calc(64);
    left: rem-calc(0);
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  form textarea {
    min-height: rem-calc(64);
  }
  @include breakpoint(medium down) {
    padding-left: rem-calc(46);
    a.avatar {
      width: rem-calc(32);
      height: rem-calc(32);
    }
  }
}