@font-face {
  font-family: 'SF UI Display';
  src: url('../font/hinted-subset-SFUIDisplay-Light.woff2') format('woff2'),
  url('../font/hinted-subset-SFUIDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../font/hinted-subset-SFUIDisplay-Bold.woff2') format('woff2'),
  url('../font/hinted-subset-SFUIDisplay-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}