.top-container {
  background-color: rgba(255,255,255,1);
  padding: rem-calc(144 20 135);
  min-height: rem-calc(540);
  cursor: default;
  .container {

  }
  .container .description {
    padding-bottom: rem-calc(10);
    padding-top: rem-calc(20);
  }

  .container .columns:first-child:not(.one) {
    padding-right: rem-calc(40);
    @include breakpoint(large down) {
      padding-right: rem-calc(10);
    }
  }
  .container .columns:last-child:not(.one) {
    padding-left: rem-calc(40);
    @include breakpoint(large down) {
      padding-left: rem-calc(0);
    }
    @include breakpoint(medium down) {
      padding-left: rem-calc(10);
    }
  }
  .container .columns.description.one {
    @include breakpoint(xlarge up){
      padding-left: rem-calc(40);
    }
  }

  h1, div.handler {
    margin-bottom: 0;
    max-width: rem-calc(600);
  }
  h1.long, div.handler.long {
    margin-bottom: rem-calc(35);
  }
  @include breakpoint(xlarge down) {
    h1, div.handler {
      font-size: rem-calc(60);
      line-height: rem-calc(68);
    }
  }
  @include breakpoint(medium down) {
    min-height: inherit;
  }
  @include breakpoint(small only) {
    min-height: inherit;
    padding: rem-calc(100 10);
    h1, div.handler {
      font-size: rem-calc(42);
      line-height: rem-calc(54);
    }
  }
}
header {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  .logo {
    font-weight: 700;
    color: rgba(0,0,0,1);
    line-height: rem-calc(16);
    font-size: rem-calc(18);
    letter-spacing: rem-calc(0.2);
    padding: rem-calc(20);
    display: block;
    float: left;
    transition: color 300ms 0s linear;
  }
  button#toggle-menu {
    padding: rem-calc(22);
    float: right;
    span {
      display: block;
      font-size: 0;
      width: rem-calc(12);
      height: rem-calc(12);
      position: relative;
    }
    span:after, span:before {
      content: '';
      display: block;
      position: absolute;
      width: rem-calc(12);
      height: rem-calc(2);
      background-color: rgba(0,0,0,1);
      left: 50%;
      top: 50%;
      transition: all 300ms 0s linear;
      transform: translate(-50%, -50%) rotate(0deg);
    }
    span:before {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
  button#toggle-menu:hover {
    span:after, span:before {
      background-color: rgba(0,0,0,.5);
    }
  }
  button#toggle-menu.active {
    span:after, span:before {
      background-color: rgba(0,0,0,1) !important;
    }
    span:before {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
}
header.inverse {
  .logo {
    color: rgba(255,255,255,1);
  }
  button#toggle-menu {
    span:after, span:before {
      background-color: rgba(255,255,255,1);
    }
  }
  button#toggle-menu:hover {
    span:after, span:before {
      background-color: rgba(255,255,255,1);
    }
  }
}
@include breakpoint(medium down) {
  header {
    background-color: rgba(255,255,255,1);
    transition: background-color 0ms 400ms linear;
  }
  header.inverse {
    background-color: rgba(255,255,255,0);
    transition: background-color 0ms 0ms linear;
  }
}

header.inverse2 {
  background-color: rgba(255,255,255,0);
  transition: background-color 0ms 0ms linear;
  .logo {
    color: rgba(255,255,255,1);
    display: block;
  }
  button#toggle-menu {
    span:after, span:before {
      background-color: rgba(255,255,255,1);
    }
  }
}
@include breakpoint(540px down) {
  header.inverse2 .logo {
    display: none;
  }
}