@import 'settings';
@import 'util/util';
//@import 'fonts';
@import 'jquery.fullpage.scss';
@import 'header';
@import 'menu';
@import 'slider';
@import 'button';
@import 'blog';
@import 'comments';

body {
  background-color: rgba(255,255,255,1);
  //font-family: 'SF UI Display';
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: rem-calc(26);
  color: rgba(140,140,140,1);
  overflow: hidden;
  letter-spacing: rem-calc(0.6);
}
h1,h2,h3,h4, .handler {
  color: rgba(0,0,0,1);
}
h1, .handler {
  //font-family: 'SF UI Display';
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: rem-calc(72);
  line-height: rem-calc(87);
  letter-spacing: rem-calc(-1.7);
}
p {
  margin-bottom: rem-calc(18);
}
a {
  transition: all 300ms 0s linear;
  color: rgba(0,0,0,1);
}
a:hover {
  color: rgba(0,0,0,.5);
}
*:focus, *:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}
* {
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}
@include breakpoint(xlarge up) {
  .large-align-left {
    justify-content: flex-start;
  }
}
main {
  transform: translateX(0%);
  transition: all 400ms 0s linear;
}
main.iscrollMain {
  width: 100%;
  height: 100%;
}
main.slide_left {
  transform: translateX(rem-calc(-200));
}
textarea {
  outline: none;
  border: rem-calc(1) solid rgba(222,222,222,1);
  box-shadow: none;
  padding: rem-calc(12 16);
}
textarea:focus {
  outline: none;
  border: rem-calc(1) solid rgba(0,0,0,.3);
  box-shadow: none;
}
.iScrollLoneScrollbar {
  display: none;
}
.fullheight {
  height: 100%;
}
.fullheight.false {
  height: auto;
}
.reveal {
  width: 100%;
  max-width: rem-calc(1000);
  height: auto;
  position: absolute;
  background-color: transparent;
  padding: 0;
  margin: 0;
  left: 50%;
  top: 50%!important;
  transform: translate(-50%,-50%);
  border: none;
  cursor: default;
  img {
    width: 100%;
  }
  .close-button {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    display: none;
  }
  @include breakpoint(medium down) {
    min-height: inherit;
  }
}
.reveal-overlay {
  background-color: rgba(0,0,0,.8);
  cursor: pointer;
  width: 100%;
  height: 100%;
}
