.toggle-menu-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  visibility: hidden;
  background-color: rgba(0,0,0,0);
  transition: all 400ms 0s linear;
}
.toggle-menu-overlay.active {
  background-color: rgba(0,0,0,.8);
  z-index: 998;
  visibility: visible;
}
.toggle-menu-panel {
  width: 100%;
  max-width: rem-calc(360);
  height: 100%;
  position: fixed;
  right: 0;
  z-index: 999;
  background-color: rgba(255,255,255,1);
  transform: translateX(100%);
  transition: transform 400ms 0s linear;
  box-sizing: border-box;
  padding: rem-calc(0 60);
  font-size: rem-calc(14);
  .row {
    height: 100%;
  }
  .align-self-top {
    margin-top: rem-calc(60);
    nav {
      margin-bottom: rem-calc(90);
    }
  }
  .align-self-bottom {
    margin-bottom: rem-calc(60);
  }
  nav a {
    display: block;
    line-height: rem-calc(16);
    margin: rem-calc(18 0);
  }
  nav a:first-child {
    margin-top: 0;
  }
  .social {
    margin-bottom: rem-calc(20);
  }
  .social a {
    padding: rem-calc(5);
    margin-right: rem-calc(10);
  }
  .social a:first-child {
    padding-left: 0;
  }
  .copyright {
    font-size: rem-calc(12);
    line-height: rem-calc(12);
  }
}
.toggle-menu-panel.active {
  transform: translateX(0%);
}