/**
 * Owl Carousel v2.2.0
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
/*
 *  Owl Carousel - Core
 */
.slider {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
  touch-action: auto;
}
.slider .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y; }
.slider .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }
.slider .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }
.slider .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }
.slider .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d; }
.slider .owl-nav.disabled,
.slider .owl-dots.disabled {
  display: none; }
.slider .owl-nav .owl-prev,
.slider .owl-nav .owl-next,
.slider .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.slider.owl-loaded {
  display: block; }
.slider.owl-loading {
  opacity: 0;
  display: block; }
.slider.owl-hidden {
  opacity: 0; }
.slider.owl-refresh .owl-item {
  visibility: hidden; }
.slider.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.slider.owl-grab {
  cursor: move;
  cursor: grab; }
.slider.owl-rtl {
  direction: rtl; }
.slider.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .slider {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.slider .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.slider .owl-animated-in {
  z-index: 0; }

.slider .owl-animated-out {
  z-index: 1; }

.slider .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.slider .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.slider .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.slider .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.slider .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease; }

.slider .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.slider .owl-video-playing .owl-video-tn,
.slider .owl-video-playing .owl-video-play-icon {
  display: none; }

.slider .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.slider .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }
/**
 * Owl Carousel v2.2.0
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.fullscreen .owl-nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
  pointer-events: none;
}
.fullscreen .owl-nav [class*='owl-'] {
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;
  color: transparent;
  cursor: pointer;
  pointer-events: auto;
  border-radius: 3px; }
.fullscreen .owl-nav .owl-prev {
  left: 0;
}
.fullscreen .owl-nav .owl-next {
  right: 0;
}
.fullscreen .owl-nav [class*='owl-']:hover {
  text-decoration: none; }
.fullscreen .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.fullscreen .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.fullscreen .owl-dots {
  display: block;
  position: absolute;
  z-index: 10;
  right: rem-calc(26);
  bottom: rem-calc(20);
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
.fullscreen .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }
.fullscreen .owl-dots .owl-dot span {
  width: rem-calc(4);
  height: rem-calc(4);
  transform: scale(1);
  margin: rem-calc(0 10);
  background-color: rgba(255,255,255,1);
  display: block;
  -webkit-backface-visibility: visible;
  transition: all 300ms 0s linear;
  border-radius: 30px; }
.fullscreen .owl-dots .owl-dot.active span, .fullscreen .owl-dots .owl-dot:hover span {
  transform: scale(2);
}

.slider.fullscreen {
  width: 100%;
  height: 100%;
  margin: 0;

  .owl-stage-outer, .owl-stage, .owl-item {
    width: 100%;
    height: 100%;
  }
  .owl-item .slide-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: default;
    .button {
      display: none;
      position: absolute;
      bottom: rem-calc(60);
      transform: translate(-50%,0);
      left: 50%;
    }
  }
  .owl-stage .slide-container .img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: scroll !important;
    transform-origin: 50% 80%;
    animation: imageZoom linear 50s;
    animation-iteration-count: infinite;
    -webkit-animation: imageZoom linear 50s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: imageZoom linear 50s;
    -moz-animation-iteration-count: infinite;
    -ms-animation: imageZoom linear 50s;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
    animation-play-state: paused;
  }
  .owl-item.active .slide-container .img {
    -webkit-animation-play-state: running; /* Safari 4.0 - 8.0 */
    animation-play-state: running;
  }
  @keyframes imageZoom{
    0% { transform: scale(1); }
    50% { transform: scale(1.24); }
    100% { transform: scale(1);}
  }

  @-moz-keyframes imageZoom{
    0% { -moz-transform: scale(1);}
    50% { -moz-transform: scale(1.24); }
    100% { -moz-transform: scale(1); }
  }

  @-webkit-keyframes imageZoom{
    0% { -webkit-transform: scale(1); }
    50% {-webkit-transform: scale(1.24); }
    100% { -webkit-transform: scale(1); }
  }

  @-ms-keyframes imageZoom{
    0% { -ms-transform: scale(1); }
    50% { -ms-transform: scale(1.24); }
    100% { -ms-transform: scale(1); }
  }
}
