<div class="reveal" id="modalgallery" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
    <img src="https://pp.vk.me/c543108/v543108900/20204/x9lf5c3tn3c.jpg">
    <div class="close-button" type="button"></div>
</div>